@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    color: white;
    font-family: 'Outfit', sans-serif;
}

#results-page{
text-align: center;
}

#flex-container{
    display: flex;
    margin: 3em;
    justify-content: space-around;
}
.results-button{
    background: none;
    color: white;
    border: 2px solid white;
    padding: 20px 80px;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 0 30px #006ec956;
    cursor: pointer;
}

.results-button:hover{
    background-color: rgb(157, 36, 173);
}

.results-title h2{
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 60px;
}

.results-title p{
    font-size: 2em;
}

.results-wrong, .results-correct{
     font-size: 3.8em;
}

.results-correct{
    text-align: left;
}

.results-wrong{
    text-align: right;
}

.wrong-percent, .correct-percent{
    font-weight: bold;
}

.wrong-of-total, .correct-of-total{
    font-size: 1.4rem;
    margin-top: 8px;
}

.results-congrat{
    width: 210px;
    height: 210px;
    font-size: 16px;
}

.results-congrat span{
    color: #00ffff;
}

.congrats{
    font-size: 1.3em;
}

.instructions{
    margin-top: 30px;
}

