@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/*----------------------------------------WELCOME------------------------------------*/
body {
  font-family: "Outfit", sans-serif;
  background-image: url(../img/bg.jpg);
  color: white;
  height: 100%;
  background-size: cover;
  text-align: left;
  margin: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  margin-left: 100px;
  margin-top: 50px;
  width: 200px;
  height: auto;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
}

#welcome {
  padding: 100px 0 50px 100px;
  width: 90%;
}

.h2_wlc {
  line-height: 0.6;
  font-size: 60px;
}
.h2_wlc_wrap {
  margin-bottom: 3rem;
}

.h2_wlc_wrap h2 {
  font-size: 6em;
  line-height: 4.7rem;
}

.h2_wlc_bold {
  font-weight: bold;
}

.h3_instructions {
  margin-top: 50px;
  color: #d20094;
  font-weight: bold;
  margin-bottom: 1rem;
}

.instruction_wrap h3 {
  font-size: 2.3em;
}

.instruction_wrap p {
  font-size: 1.3rem;
}

.lists li {
  font-size: 1.3rem;
  margin: 10px 0;
}

.style_text {
  line-height: 1.1;
  font-size: 1.8rem;
  list-style: disc;
  width: 100%;
}

.p_style {
  width: 42rem;
}

.instruction_wrap {
  margin-bottom: 4rem;
}

.ul {
  margin-left: 2rem;
  margin-bottom: 5rem;
}

.p_form {
  line-height: 1.1;
  font-size: 1.7rem;
  font-weight: bold;
}

.i_promise {
  display: flex;
}

.i_promise p {
  font-size: 1.2rem;
  margin-left: 15px;
  display: inline-block;
}

.check {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  display: flex;
}

.check:hover {
  background-color: aqua;
}

.checkmark {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.proceed_button {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 20px 60px;
  margin-right: 600px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 30px #006ec956;
}

.proceed_button:hover {
  box-shadow: 0 0 30px #00ffff;
  background-color: #00ffff;
  color: #0b113b;
  border: 2px solid #00ffff;
}

.bold_span {
  font-weight: bold;
}

.alert {
  text-decoration: underline;
}

/*---------------------------------FEEDBACK-----------------------------------*/
#feedback-container {
  font-size: 20px;
  text-align: center;
  /*padding: 100px 13rem 0 13rem;*/
}

.center {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  margin: auto;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 110px;
  margin-bottom: 20px;
  text-align: center;
}

.stars {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.star {
  margin: 5px;
  width: 50px;
}

.comment {
  background: none;
  border: none;
  outline: none;
  color: white;
  text-align: left;
  width: 34%;
  border-bottom: 2px solid #d20094;
  padding-bottom: 5px;
  padding-left: 30px;
  margin: 40px 0 50px 0; /* se da problemi cambiare padding sx in 32%*/
  font-size: 16px;
  line-height: 30px;
}

.button {
  display: block;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  border: 2px solid white;
  padding: 18px 50px;
  font-weight: bold;
  margin: 15px auto;
  background: none;
  color: white;
  box-shadow: 0 0 30px #006ec956;
}

.button:hover {
  border: 2px solid #00ffff;
  box-shadow: 0 0 30px #00ffff;
  background-color: #00ffff;
  color: #0b113b;
}

.stelline {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.opacityStar {
  filter: brightness(12%) hue-rotate(60deg) saturate(200%);
  transition: 0.3s;
  cursor: pointer;
}

/*------------------------------------QUIZ-----------------------------*/
.margin-left {
  margin-left: 10%;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
  padding-right: 200px;
}

.align-left {
  text-align: left;
  padding-left: 200px;
}

#answer {
  max-width: 100%;
  padding: 0 25%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 220px;
}

#answer div {
  height: 50px;
  width: 300px;
  background-color: #ebebeb15;
  border: 1px solid #ebebeb;
  border-radius: 60px;
  padding: 10px 20px;
  margin: 20px;
  box-shadow: 0 -2px 2px #ebebeb;
  cursor: pointer;
}

#answer div:hover {
  background: linear-gradient(
    180deg,
    rgba(194, 18, 141, 1) 0%,
    rgba(108, 10, 79, 1) 100%
  );
}

#questionWrapper {
  margin: 150px;
  margin-bottom: 0;
}

#taskTitle {
  height: 150px;
  width: 900px;
  margin: auto;
  margin-bottom: 50px;
  font-size: 50px;
}

#currentQuestion {
  margin-top: 100px;
  font-size: 1.4em;
  margin-bottom: 50px;
}

#currentQuestion span {
  color: #c2128d;
}

.subTitle {
  font-size: 1.8em;
}

.miniTitle {
  font-size: 0.4em;
}

#flexContainer {
  display: flex;
  justify-content: space-around;
  margin: 3em;
  margin-left: 4.2rem; /*sposta cerchio*/
}

.Answers {
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.evidence {
  font-weight: bold;
  font-size: 3.5rem;
  margin-top: 50px;
  margin-bottom: 8px;
}

.color {
  display: inline-block;
  width: 245px;
  height: 80px;
  color: #00ffff;
  font-weight: bold;
  font-size: 1.4rem;
}

.resultDonut {
  color: #ebebeb;
  font-weight: bold;
  font-size: 1.4rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#progressBar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 15px;
  width: 100%;

  animation: progressBarAnimation linear infinite;
}

@keyframes progressBarAnimation {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

#answerText {
  width: 800px;
}

#textResult {
  width: 300px;
  position: relative;
  right: 500px;
  display: inline-block;
  font-size: 1rems;
}

#resultChart {
  margin-left: 200px;
  width: 100%;
  max-width: 3000px;
}

/*.ring-shadow{
    border-radius: 50%;
    box-shadow: 0 0 30px #00ffff;
    
 }*/

#timerWrapper {
  margin-bottom: 60px;
  height: 150px;
  width: 300px;
  position: absolute;
  right: 50px;
  transform: translateY(-225px);
}

.seconds,
.remaining {
  position: absolute;
  font-size: 0.6rem;
}

.seconds {
  top: 80px;
  left: 140px;
  z-index: 1;
}
.remaining {
  top: 145px;
  left: 137px;
  z-index: 2;
}

#timerChart {
  position: absolute;
  width: 100%;
  max-width: 300px;
  top: 44px;
  left: 14px;
}

#timerDiv {
  font-size: 3.5rem;
  display: inline;
  position: relative;
  top: 90px;
  left: 133px;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instructions {
  line-height: 1.5rem;
}

#resultButton {
  padding: 20px 60px;
  margin: auto;
  display: block;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  box-shadow: 0 0 30px #006ec956;
  font-size: 1.5em;
  cursor: pointer;
}

#resultButton:hover {
  border: 2px solid #00ffff;
  box-shadow: 0 0 30px #00ffff;
  background-color: #00ffff;
  color: #0b113b;
}


#win {
  color: black;
	-webkit-text-stroke: 1px ;
	text-shadow: 0px 3.7px 10px gold;
  text-align: center;
  padding-top: 5%;
  font-size: 7rem;
}

#seal{
  text-align: center;
  margin-top: 50px;
  
}

#seal img{
  box-shadow: 0 0 70px gold;
  border-radius: 20px;
}

.win-button {
  color: white;
  opacity: 0;
  margin-left: 88%;
  margin-top: 140px;
  font-size: 2rem;
  background: none;
  border: none;
}

.win-button:hover {
  opacity: 1;
  cursor: pointer;
}

.hidden {
  display: none;
}
