@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    margin-left: 8%;
    margin-right: 8%;
    font-family: "Outfit", sans-serif;
    background-image: url(../img/bg.jpg);
    color: white;
    height: 100%;
}

.welcome{
    padding: 50px 80px;
    width: 100%;
}


.h2_wlc {
    line-height: 0.6;
    font-size: 60px;
}
.h2_wlc_wrap {
    margin-bottom: 3rem;
    
}

.h2_wlc_wrap h2{
    font-size: 7em;
}

.h2_wlc_bold {
    font-weight: bold;
}

.h3_instructions {
    margin-top: 70px;
    color: #d20094;
    font-weight: bold;
    margin-bottom: 1rem ;
}

.instruction_wrap h3{
    font-size: 2.6em;
}

.instruction_wrap p{
    font-size: 1.4rem;
}

.lists li{
    font-size: 1.4rem;
    margin: 10px 0;
}

.style_text {
    line-height: 1.1;
    font-size: 2rem;
    list-style: disc;
    width: 100%;
}


.p_style {
    width: 60rem;
}

.instruction_wrap {
    margin-bottom: 4rem;
}

.ul {
    margin-left: 2rem;
    margin-bottom: 8rem;
}

.p_form {

    line-height: 1.1;
    font-size: 1.7rem;
    font-weight: bold;
}

.i_promise{
    display: flex;
}

.i_promise p{
    font-size: 1.2rem;
    margin-left: 15px;
    display: inline-block;
}


.check{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    display: flex;
}

.check:hover{
    background-color: aqua;
}

.clicked{
    background-color: white;
}


form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.proceed_button {
    background-color:#00ffff ;
    border:none;
    padding: 20px 60px;
    margin-right: 100px;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #0B113B;
}

.proceed_button:hover{
    box-shadow: 0 0 30px #00ffff;
}

.bold_span {
    font-weight: bold;
}


.alert{
    text-decoration: underline;
}


.hidden{
    display:none;
}